.img-circle{-webkit-border-radius:500px;-moz-border-radius:500px;border-radius:500px}

* {
  -webkit-border-radius: 0 ;
     -moz-border-radius: 0 ;
          border-radius: 0 ;
}
h1,h2,h3,h4,h5,h6 {font-family: "Oswald";}
body {
    font-family: "Open Sans";
    padding-top:  70px;
    background:#fff;
    }
.navbar-custom-red{
    background:inherit;
    border-bottom:2px solid #c0392b;
}
nav a{
    color:#c0392b;
    text-decoration:none;
    display:block;
}
.red{
    color:#c0392b;
}
.yellow{
    color:#f39c12;
}
.green{
    color:#27ae60;
}
.home-bg{
    background:#f1f1f1;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin:10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}

.sf-lists{
    list-style-type: none;
    list-style-position:inside ;
}
.sf-jumbotron{
    background:#fff;
    border:2px solid #c0392b;
      -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.testi-name{
    font-weight:900;
}
.sf-jumbo{
    background:inherit;
}
.designation{
    color:grey;
    font-size:18px;
}
.contact-card a{
font-size:22px;
}
.sf-hr{
    display:block;
    border-bottom:5px solid #c0392b;
}
.sf-input{
    width:100%;
    background:inherit;
    height:45px;
    margin-bottom:10px;
    border:2px solid #c0392b;
    color:#c0392b
}
.sf-form textarea{
    height:100px;
}
.sf-btn{
    height:45px;
    color:white;
    background:#27ae60;
    width:100%;
    border:1px solid #27ae60;
}
.footer{
    width:100%;
    bottom:0;
    left:0;
    background:inherit;
    border-top:2px solid #c0392b;
    padding:20px;
    margin-top:20px;
}
.sf-vr{
    border-right:2px solid #c0392b;
}
.img-container{
    height:400px;
}