* {
  -webkit-border-radius: 0 ;
     -moz-border-radius: 0 ;
          border-radius: 0 ;
}
h1,h2,h3,h4,h5,h6 {font-family: "Oswald";}
body {
    font-family: "Open Sans";
    padding-top:  70px;
    background:#fff;
    }
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background:#fff;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}
.navbar-primary{
    background:#663399;
    color:white;
}
.custom-brand{
    color:white;
    text-decoration:none;
}
.sf-btn{
    height:45px;
    color:white;
    width:100%;
}
.sf-input{
    width:100%;
    background:inherit;
    height:45px;
    margin-bottom:10px;
    border:1px solid black;
    color:black
}
.sf-card{
    background:#fff;
}